{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-lg clearfix">
        <div class="col-4 float-left p-4">
            <div class="Box Box--condensed">
                <div class="Box-header">
                    {{ 'languages' |trans }}
                </div>
                <ul>
                    <li class="Box-row">
                        <form action="{{ path('github_topics') }}" method="post">
                            <div class="input-group">
                                <input class="form-control" name="query" type="text" placeholder="Query"
                                       aria-label="Query">
                                <span class="input-group-button">
      <button class="btn" type="submit" aria-label="Copy to clipboard">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
              <path fill-rule="evenodd"
                    d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg>
      </button>
    </span>
                            </div>
                        </form>
                    </li>
                    <li class="Box-row">
                        {% for topic in topics %}
                            <a href="{{ path('github_topics', app.request.query.all|merge({'query' : topic.text})) }}">
                                {{ topic.text|capitalize }}
                            </a>
                            <a href="{{ path('github_delete_topics', {'query' : topic.text}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                                    <path fill-rule="evenodd"
                                          d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path>
                                </svg>
                            </a>
                        {% endfor %}
                    </li>
                    {% for language in languages %}
                        <li class="Box-row">
                            <a href="{{ path('github_topics', app.request.query.all|merge({'language' : language})) }}">
                                {{ language|capitalize }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            <div class="Box Box--condensed">
                <div class="Box-header">
                    {{ 'sort' |trans }}
                </div>
                <ul>
                    {% for s in github_sort %}
                        <li class="Box-row">
                            <a href="{{ path('github_topics', app.request.query.all|merge({'s' : s})) }}">
                                {{ s|capitalize }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            <div class="Box Box--condensed">
                <div class="Box-header">
                    {{ 'order' |trans }}
                </div>
                <ul>
                    {% for s in ['asc', 'desc'] %}
                        <li class="Box-row">
                            <a href="{{ path('github_topics', app.request.query.all|merge({'o' : s})) }}">
                                {{ 'order.' ~ s|trans }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-8 float-left p-2">
            {% for repository in repositories %}
                {% set repository = repository|merge({
                    author: repository.owner.login,
                    url: repository.html_url,
                    stars: repository.stargazers_count
                }) %}
                <div class="p-2">
                    {% include 'github/repository/box.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
